.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.logo-image {
  max-width: 100%;
  width: 260px;
  height: auto;
}

.admin-title {
  font-weight: 700;
  margin-top: 10px;
}
.rounded-button {
  padding: 5px;
  background-color: #1b4776;
  color: #d9d9d9;
  border: 2px solid #1b4776;
  border-radius: 10px;
  font-size: 20px;
  width: 250px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.rounded-button:hover {
  background-color: #0d2b4e;
  border-color: #0d2b4e;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input {
  border: 2px solid #1b4776;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  color: #d9d9d9;
  background-color: #1b4776;
}

.form-group input:focus {
  outline: none;
  border-color: #0d2b4e;
  box-shadow: 0 0 5px rgba(29, 113, 171, 0.5);
}
.cnpj {
  margin-top: 30px;
  text-align: center;
}
.exit-button {
  padding: 5px;
  background-color: #1b4776;
  color: #d9d9d9;
  border: 2px solid #1b4776;
  border-radius: 10px;
  font-size: 20px;
  width: 100px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.exit-button:hover {
  background-color: #0d2b4e;
  border-color: #0d2b4e;
}
