<div class="main">
  <div class="logo-container">
    <img
      src="../../../assets/imagens/logo.jpeg"
      alt="Logo"
      class="logo-image"
    />
  </div>
  <div class="telefone-title">
    <h1>Este é o seu telefone?</h1>
    <p class="telefone-content">{{ dadosCnpj.telefone }}</p>
  </div>
  <div class="options-container">
    <div class="label-option">
      <input
        type="radio"
        class="option-input"
        name="opcao"
        [(ngModel)]="opcao"
        value="sim"
      />
      <span>Sim</span>
    </div>

    <div class="label-option">
      <input
        type="radio"
        class="option-input"
        name="opcao"
        [(ngModel)]="opcao"
        value="nao"
      />
      <span>Não</span>
    </div>

    <ng-container *ngIf="opcao === 'nao'">
      <label for="telefoneCorreto">Digite seu telefone correto:</label>
      <input
        type="text"
        id="telefoneCorretoInput"
        class="input-new-telefone"
        [(ngModel)]="telefoneCorreto"
        mask="(00) 00000-0009"
      />
    </ng-container>

    <button class="button-next" (click)="proximoPasso()">Próximo</button>
  </div>
</div>
