<div class="main">
  <div class="logo-container">
    <img
      src="../../../assets/imagens/logo.jpeg"
      alt="Logo"
      class="logo-image"
    />
  </div>
  <div class="name-title">
    <h1>Este é o seu nome completo?</h1>
    <p class="name-content">{{ nomeFormatado }}</p>
  </div>
  <div class="options-container">
    <div class="label-option">
      <input
        type="radio"
        class="option-input"
        name="opcao"
        [(ngModel)]="opcao"
        value="sim"
      />
      <span>Sim</span>
    </div>

    <div class="label-option">
      <input
        type="radio"
        class="option-input"
        name="opcao"
        [(ngModel)]="opcao"
        value="nao"
      />
      <span>Não</span>
    </div>

    <ng-container *ngIf="opcao === 'nao'">
      <label for="nomeCorreto">Digite seu nome completo correto:</label>
      <input
        type="text"
        id="nomeCorretoInput"
        class="input-new-name"
        [(ngModel)]="nomeCorreto"
      />
    </ng-container>

    <button class="button-next" (click)="proximoPasso()">Próximo</button>
  </div>
</div>
